In [527]:
import pandas as pd                       #to perform data manipulation and analysis
import numpy as np                        #to cleanse data
from datetime import datetime             #to manipulate dates
import plotly.express as px               #to create interactive charts
import plotly.graph_objects as go         #to create interactive charts
from jupyter_dash import JupyterDash      #to build Dash apps from Jupyter environments
import dash_core_components as dcc        #to get components for interactive user interfaces
import dash_html_components as html       #to compose the dash layout using Python structures

In [528]:
file_chris = '/Users/chriswedgwood/Library/Mobile Documents/com~apple~CloudDocs/FinancialAnalysis/transactions_chris.csv'
file_emma = '/Users/chriswedgwood/Library/Mobile Documents/com~apple~CloudDocs/FinancialAnalysis/transactions_emma.csv'
df = pd.concat(map(pd.read_csv, [file_emma, file_chris]))
df["Category"] = ""

In [529]:
# DROP REDUNDANT ROWS TO AVOID DOUBLE COUNTING

#df.drop(df.loc[(df.Description.str.contains('EMMA WEDGWOOD     CASH')) & (df.Account=='WEDGWOOD E')].index, inplace=True)

In [530]:
df[(df.Description=='Christopher Wedgwood')&(df.Account!='Emma Wedgwood and Christopher Brian Wedgwood')]
df

,Account,Date,Original Date,Description,Original Description,Amount,Currency,Category,Budget
0,Emma Wedgwood and Christopher Brian Wedgwood,12/11/2021,12/11/2021,Banner Street,Banner Street,-0.01,GBP,,unbudgeted
1,Emma Wedgwood and Christopher Brian Wedgwood,12/11/2021,12/11/2021,Banner Street,Banner Street,-0.48,GBP,,unbudgeted
2,Emma Wedgwood and Christopher Brian Wedgwood,12/11/2021,12/11/2021,Banner Street,Banner Street,-0.15,GBP,,unbudgeted
3,Emma Wedgwood and Christopher Brian Wedgwood,12/11/2021,12/11/2021,Marks & Spencer,Marks & Spencer,-15.85,GBP,,unbudgeted
4,Emma Wedgwood and Christopher Brian Wedgwood,12/11/2021,12/11/2021,Banner Street,Banner Street,-0.35,GBP,,unbudgeted
...,...,...,...,...,...,...,...,...,...
133,WEDGWOOD C B,05/01/2021,05/01/2021,BREAST CANCER NOW,BREAST CANCER NOW,-10.00,GBP,,unbudgeted
134,WEDGWOOD C B,04/01/2021,04/01/2021,CHRISTOPHER WEDGWOSENT FROM MONZO FP 03/01/2...,CHRISTOPHER WEDGWOSENT FROM MONZO FP 03/01/2...,1200.00,GBP,,unbudgeted
135,WEDGWOOD C B,04/01/2021,04/01/2021,ROYAL LONDON,ROYAL LONDON,-43.23,GBP,,unbudgeted
136,WEDGWOOD CB,28/06/2021,28/06/2021,MONZO JOINT HOUSE MONEY VIA MOBILE...,MONZO JOINT HOUSE MONEY VIA MOBILE...,-350.00,GBP,,unbudgeted
137,WEDGWOOD CB,28/06/2021,28/06/2021,FROM A/C 86397958VIA MOBILE - XFER,FROM A/C 86397958VIA MOBILE - XFER,350.00,GBP,,unbudgeted

In [531]:
df[df.Description.str.contains('Chris')]
#df[(df.Description.str.contains('EMMA WEDGWOOD     CASH')) & (df.Account=='WEDGWOOD E')]

,Account,Date,Original Date,Description,Original Description,Amount,Currency,Category,Budget
37,Emma Wedgwood and Christopher Brian Wedgwood,10/11/2021,10/11/2021,Chris Wedgwood,Chris Wedgwood,-200.0,GBP,,unbudgeted
59,Emma Wedgwood and Christopher Brian Wedgwood,08/11/2021,08/11/2021,Christopher Wedgwood,Christopher Wedgwood,20.0,GBP,,unbudgeted
72,Emma Wedgwood and Christopher Brian Wedgwood,07/11/2021,07/11/2021,Christopher Wedgwood,Christopher Wedgwood,100.0,GBP,,unbudgeted
177,Emma Wedgwood and Christopher Brian Wedgwood,31/10/2021,31/10/2021,Christopher Wedgwood,Christopher Wedgwood,3400.0,GBP,,unbudgeted
572,Emma Wedgwood and Christopher Brian Wedgwood,01/10/2021,01/10/2021,Christopher Wedgwood,Christopher Wedgwood,2700.0,GBP,,unbudgeted
...,...,...,...,...,...,...,...,...,...
2991,Emma Wedgwood and Christopher Brian Wedgwood,15/01/2021,15/01/2021,Christopher Wedgwood,Christopher Wedgwood,100.0,GBP,,unbudgeted
3016,Emma Wedgwood and Christopher Brian Wedgwood,11/01/2021,11/01/2021,Christopher Wedgwood,Christopher Wedgwood,50.0,GBP,,unbudgeted
3019,Emma Wedgwood and Christopher Brian Wedgwood,10/01/2021,10/01/2021,Christopher Wedgwood,Christopher Wedgwood,150.0,GBP,,unbudgeted
3038,Emma Wedgwood and Christopher Brian Wedgwood,06/01/2021,06/01/2021,Christopher Wedgwood,Christopher Wedgwood,350.0,GBP,,unbudgeted
3061,Emma Wedgwood and Christopher Brian Wedgwood,03/01/2021,03/01/2021,Christopher Wedgwood,Christopher Wedgwood,2000.0,GBP,,unbudgeted

In [534]:
df.loc[df['Description'].str.contains('TfL|TFL|Uber'), ['Category']] = 'Travel'
df.loc[df['Description'].str.contains('Banner Street Pot'), ['Category']] = 'Transfer'
df.loc[df['Description'].str.contains('Thames'), ['Category']] = 'Utilities'
df.loc[df['Description'].str.contains('Insurance'), ['Category']] = 'Insurance'
df.loc[df['Description'].str.contains('TV'), ['Category']] = 'Entertainment'
df.loc[df['Description'].str.contains('Joannabenfi'), ['Category']] = 'Therapy'
df.loc[df['Description'].str.contains('2 90 Banner'), ['Category']] = 'Rental Income'
df.loc[df['Description'].str.contains('HAWKS|ALDI|Co-op'), ['Category']] = 'Groceries'
df.loc[df['Description'].str.contains('TV'), ['Category']] = 'Entertainment'
df.loc[df['Description'].str.contains('WH SMITH'), ['Category']] = 'Postage'
df.loc[df['Description'].str.contains('CUSTOMCLEAN-FRHVEY'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('helppay'), ['Category']] = 'Bank Charges'
df.loc[df['Description'].str.contains('VICTORIA|OLD PLOUGH'), ['Category']] = 'Restaurant'
df.loc[df['Description'].str.contains('ChrisEmma Retreat'), ['Category']] = 'Holiday'
df.loc[df['Description'].str.contains('GC519884'), ['Category']] = 'Holiday'
df.loc[df['Description'].str.contains('rca|Rca|RCA'), ['Category']] = 'RCA'
df.loc[df['Description'].str.contains('MANCHESTER MCHSTR EXCHAN'), ['Category']] = 'RCA'
df.loc[df['Description'].str.contains('FarmFresh'), ['Category']] = 'Groceries'
df.loc[df['Description'].str.contains('www.emma-matratze.ch'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('UK PRIME|Amazon Prime|Prime Video'), ['Category']] = 'Entertainment'
df.loc[df['Description'].str.contains('AMZN|AMAZON'), ['Category']] = 'Online Shopping'
df.loc[df['Description'].str.contains('COOMBEWOODLA|Ol Tennis|World Of Golf'), ['Category']] = 'Sport and Fitness'
df.loc[df['Description'].str.contains('The Juic|Leon'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('Ewell Borough'), ['Category']] = 'Car'
df.loc[df['Description'].str.contains('Thai Kitchen|Deliveroo Plus UK|EATS HELP.UBER.COM'), ['Category']] = 'Takeaway'
df.loc[df['Description'].str.contains('Waitrose'), ['Category']] = 'Groceries'
df.loc[df['Description'].str.contains('Hawks Road Post Office'), ['Category']] = 'Corner Shop'
df.loc[df['Description'].str.contains('Sainsbury|Ocado'), ['Category']] = 'groceries'
df.loc[df['Description'].str.contains('CASH|ATM'), ['Category']] = 'Cash'
df.loc[df['Description'].str.contains('F45'), ['Category']] = 'Sport and Fitness'
df.loc[df['Description']=='Banner Street', ['Category']] = 'Pots'
df.loc[df['Description']=='Marks & Spencer', ['Category']] = 'Groceries'
df.loc[df['Description']=='Transport for London', ['Category']] = 'Travel'
df.loc[df['Description']=='Virgin Media', ['Category']] = 'Utilities'
df.loc[df['Description']=='Wukong Oriental Food', ['Category']] = 'Takeaway'
df.loc[df['Description']=='Pret A Manger', ['Category']] = 'Snackette'
df.loc[df['Description']=='Netflix', ['Category']] = 'Home Entertainment'
df.loc[df['Description']=='The Albion', ['Category']] = 'Restaurant'
df.loc[df['Description']=='Bills - Putney', ['Category']] = 'Restaurant'
df.loc[df['Description']=='Boots', ['Category']] = 'Health'
df.loc[df['Description']=='Tortilla', ['Category']] = 'Snackette'
df.loc[df['Description']=='Deliveroo', ['Category']] = 'Takeaway'
df.loc[df['Description']=='Christopher Wedgwood', ['Category']] = 'Money From Chris'
df.loc[df['Description']=='Chris Wedgwood', ['Category']] = 'Money Chris'
df.loc[df['Description']=='Emma Wedgwood', ['Category']] = 'Money Emma'
df.loc[df['Description']=='CaffÃ¨ Nero', ['Category']] = 'Snackette'
df.loc[df['Description']=='Regus Uk', ['Category']] = 'Snackette'
df.loc[df['Description']=='Shell', ['Category']] = 'Car'
df.loc[df['Description']=='MBNA', ['Category']] = 'Credit Card'
df.loc[df['Description']=='Regus', ['Category']] = 'Coffee'
df.loc[df['Description']=='Jo Hansford', ['Category']] = 'Hair and Beauty'
df.loc[df['Description']=='Aura Centre Of Dental', ['Category']] = 'Dentis'
df.loc[df['Description']=='Moffats', ['Category']] = 'Snackette'
df.loc[df['Description']=='Amazon Digital', ['Category']] = 'Home Entertainment'
df.loc[df['Description']=='Cafe Plum', ['Category']] = 'Snackette'
df.loc[df['Description']=='WHSmith', ['Category']] = 'Snackette'
df.loc[df['Description']=='Royal Borough of Kingston', ['Category']] = 'Council tax'
df.loc[df['Description']=='Tesco', ['Category']] = 'Groceries'
df.loc[df['Description']=='Hayu', ['Category']] = 'Home Entertainment'
df.loc[(df.Description=='Halifax') & (df.Amount > -300),['Category']] = 'Credit Card'
df.loc[(df.Description=='BP') & (df.Amount < -30),['Category']] = 'Car'
df.loc[(df.Description=='BP') & (df.Amount > -30),['Category']] = 'Snackette'
df.loc[(df.Description=='GoCardless') & (df.Amount > -18),['Category']] = 'Cleaners'
df.loc[(df.Description=='GoCardless') & (df.Amount < -18),['Category']] = 'Sport and Excercise'
df.loc[df.Description=='MoneyToEmma',['Category']] = 'Money Emma'
df.loc[df.Description=='GUYS ST THOMAS NHS',['Category']] = 'Money Emma'
df.loc[df.Description=='BARCLAY PLAT VISA 492942******9009',['Category']] = 'Credit Card'
df.loc[df.Description=='Set Aside',['Category']] = 'Set Aside'
df.loc[df.Description=='Barclaycard',['Category']] = 'Credit Card'
df.loc[df.Description=='Welcome Break Birchanger Green',['Category']] = 'Snackette'
df.loc[df.Description=='Silver Service',['Category']] = 'Car'
df.loc[df.Description=='Halifax Mortgages',['Category']] = 'Mortgage'
df.loc[df.Description=='Payment, Thank You',['Category']] = 'Credit Card'
df.loc[df.Description=='Payment By Direct Debit',['Category']] = 'Credit Card'
df.loc[df.Description=='NOW               London',['Category']] = 'Scam'
df.loc[df.Description=='UBER   *EATS      HELP.UBER.COM',['Category']] = 'takeaway'
df.loc[df['Description'].str.contains('Sabor Espresso'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('Ymca|BREAST CANCER NOW'), ['Category']] = 'Charity'

df.loc[df['Description'].str.contains('Ole|Teskin|LEON|Yo Sushi|You Me Sushi|Norbiton Sandwich|Snacks Corner|Snoggy'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('Rude Health|WH Smith|River Cafe|Hazs Bake|LTT VENDING LIMITELEEDS|Vending|Hotel Chocolat'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('Italian Eating Place|Franco Manca|The Marylebone Hotel'), ['Category']] = 'Restaurant'
df.loc[df['Description'].str.contains('Wilko|Pets At Home|WHICH|Amznmktplace, amazon.co.uk|Poundland|www.waitrosepet.com|Squires Garden Centre'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('Ruth Vizard'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('Ald Automotive Ltd|WESTMINSTER PARKINLONDON|RINGGO|YourParkingSpace|PARKING|Intu Uxbridge|Parking'), ['Category']] = 'Car'
df.loc[df['Description'].str.contains('AIG Life|ROYAL LONDON'), ['Category']] = 'Insurance'
df.loc[df['Description'].str.contains('RCN'), ['Category']] = 'Professional Fees'
df.loc[df['Description'].str.contains('BEAUTY PIE|Beauty Pie'), ['Category']] = 'Hair and Beauty'
df.loc[df['Description'].str.contains('BARCLAYS PRTNR FIN|O2'), ['Category']] = 'Phone'
df.loc[df['Description'].str.contains('TESCO BANK'), ['Category']] = 'Loan'
df.loc[df['Description'].str.contains('Utility Point'), ['Category']] = 'Utilities'
df.loc[df['Description'].str.contains('Audible'), ['Category']] = 'Home Entertainment'
df.loc[df['Description'].str.contains('Other Stories'), ['Category']] = 'Gifts'
df.loc[df['Description'].str.contains('Virgin Money|NATWEST MC|CREDIT CARD|VIRGIN MONEY|CARD PLAT VISA|PayPal|DIRECT DEBIT PAYMENT - TH ANK YOU 4300'), ['Category']] = 'Credit Card'
df.loc[df['Description']=='PAYPAL *PYPL PAYIN8003587911', ['Category']] = 'Credit Card'
df.loc[df['Description']=='MADE.COM          LONDON', ['Category']] = 'Household'
df.loc[df['Description']=='EWA               Pay back', ['Category']] = 'EWA'
df.loc[df['Description'].str.contains('John Lewis & Partners|Amazon|Post Office'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('Aldermore Bank Plc|WEST ONE - COLLECT'), ['Category']] = 'Mortgage'
df.loc[df['Description'].str.contains('Asda|Ada Food Centre'), ['Category']] = 'Groceries'
df.loc[df['Description'].str.contains('Interest|INTEREST'), ['Category']] = 'Interest'
df.loc[df['Description'].str.contains('HOUSE MONEY'), ['Category']] = 'Chris Money'
df.loc[df['Description'].str.contains('EWA               TX'), ['Category']] = 'Emma Wedgwood Aesthetics'
df.loc[df['Description'].str.contains('Sent from Monzo'), ['Category']] = 'Money Out General'
df.loc[df['Description'].str.contains('N L Healthcare Ltd|Hawks Pharmacy'), ['Category']] = 'Health'
df.loc[df['Description'].str.contains('C Wedgwood & Emma|EMMA WEDGWOOD'), ['Category']] = 'Money Emma'
df.loc[df['Description'].str.contains('2 90 BANNER'), ['Category']] = 'Rental Income'
df.loc[df['Description'].str.contains('POULT001|Homeground Management'), ['Category']] = 'Banner Street'
df.loc[df['Description'].str.contains('UBER'), ['Category']] = 'Transport'
df.loc[df['Description'].str.contains('Klarna'), ['Category']] = 'Clothing'
df.loc[df['Description'].str.contains('Embers Camping Turners'), ['Category']] = 'Holiday'
df.loc[df['Description'].str.contains('Space NK Limited London|Space NK'), ['Category']] = 'Beauty'

df.loc[df['Description'].str.contains('AMT Coffee|JOE & THE JUICE|Costa|Boston Tea|Crosstown|Cedricks Ltd'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('Gails - Putney|Toms @ Riverside|Five Guys|Starbucks|Espresso'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('The Bowl and Roll'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('McDonald|DELIVEROO'), ['Category']] = 'Takeaway'
df.loc[df['Description'].str.contains('Hilary King Mgt'), ['Category']] = 'Scam'
df.loc[df['Description'].str.contains('Moonpig'), ['Category']] = 'Gifts'
df.loc[df['Description'].str.contains('M&S Simply Food|Whole Foods Market'), ['Category']] = 'Groceries'
df.loc[df['Description'].str.contains('Monies To Emma'), ['Category']] = 'Money From Wedgwoodlc13'
df.loc[df['Description'].str.contains('Tex Embankment|www.drivetech.co.uk|Yourparkingspace'), ['Category']] = 'Car'
df.loc[df['Description'].str.contains('Asics London, Canary W|Vauxhall Flowers|Scribbler'), ['Category']] = 'Gifts'
df.loc[df['Description'].str.contains('01AUG A/C 86397958'), ['Category']] = 'Money Chris'
df.loc[df['Description'].str.contains('Gerald F Giles Ltd|IKEA|B & Q New Malden|Abigail Ahern|Monkeyoffice|Shutterstock|Harry'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('Psychiatry-uk Llp|Cloudrx Ltd'), ['Category']] = 'Health'
df.loc[df['Description'].str.contains('REISS             LONDON|SweatyBetty|The Outnet|WWW.ASOS.COM|Zara'), ['Category']] = 'Clothing'
df.loc[df['Description'].str.contains('Aldi'), ['Category']] = 'Groceries'
df.loc[df['Description'].str.contains('4562475729K|Easy Online Accounting'), ['Category']] = 'Tax'
df.loc[df['Description'].str.contains('JO Hansford|Tiffany & Co. Uk|Tracie Giles Ltd, London|SPACE NK'), ['Category']] = 'Hair and Beauty'
df.loc[df['Description'].str.contains('OAKLEY HALL HOTEL OAKLEY GBR GBR 4300|TripAdvisor'), ['Category']] = 'Holiday'
df.loc[df['Description'].str.contains('Islington Council'), ['Category']] = 'Banner Street'

df.loc[df['Description'].str.contains('Caffe Caffe|Welcome Break|Cafe Smiley|Cafe Lucca|Wafflemeister|Pembroke Lodge'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('Host Olympia|Wasabi|Grape Tree|Top Cream'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('Clinton Cards|DAVID POULTNEY    First Direct'), ['Category']] = 'Gifts'
df.loc[df['Description'].str.contains('Clydesdale Bank Mortgage'), ['Category']] = 'Mortgage'
df.loc[df['Description'].str.contains('Watsons-on-the-web|Complete Savings|ExpressVPN|Etsy.com Zenspirituals|08001076285'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('Www.geraldgiles.co.uk, Norwich|Wolfco CP One Limited, London|Wimbledon Flower Kiosk'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('Www.geraldgiles.co.uk, Norwich|Wolfco CP One Limited, London|Wimbledon Flower Kiosk'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('Wickes Kingston'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('The Clive Arms'), ['Category']] = 'Restaurant'
df.loc[df['Description'].str.contains('Superdrug|Yingwan Thai Therapy'), ['Category']] = 'Health'
df.loc[df['Description'].str.contains('Matchesfashion, London|Ysl.com|Www.the-restory.com, Londo|asos'), ['Category']] = 'Clothing'
df.loc[df['Description'].str.contains('Zoilo, London|Gk Bar And Grill'), ['Category']] = 'Restaurant'
df.loc[df['Description'].str.contains('FASTER PAYMENT RECEIVED - THANK YOU 4300'), ['Category']] = 'Credit Card'
df.loc[df['Description'].str.contains('Wagamama'), ['Category']] = 'Restaurant'

df.loc[df['Description'].str.contains('Whirld|Toddington S/b|Third Space Tower Bridge|The Whole Bagel Ltd'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('The Treestone Butchers|The Teksin Ide|The Savanna|The Raw Store'), ['Category']] = 'Snackette'
df.loc[df['Description'].str.contains('JOHNLEWIS|Timpson|Therapy Guide Ltd'), ['Category']] = 'Household'
df.loc[df['Description'].str.contains('WEST ONE'), ['Category']] = 'Mortgage'
df.loc[df['Description'].str.contains('Udaya Kerala Restauran|Dish|The Old Plough|Cote Brasserie - Richm|The Moorfields'), ['Category']] = 'Restaurant'
df.loc[df['Description'].str.contains('Udaya Kerala Restauran|Dish|The Old Plough|Cote Brasserie - Richm|The Moorfields'), ['Category']] = 'Restaurant'
df.loc[df['Description'].str.contains('ESSO'), ['Category']] = 'Car'
df.loc[df['Description'].str.contains('Tickets      70625304|68732459'), ['Category']] = 'Travel'
df.loc[df['Description'].str.contains('Therapie'), ['Category']] = 'Hair and Beauty'

#print(df[df.Category == ''].count())
df[df.Category==''].groupby('Description').sum().reset_index().sort_values('Amount')

                                           Description    Amount
24                                    5253031524455159  -8500.00
248                                                Tax  -5000.00
20                                         1329797582K  -4961.95
31   ACC-NWEST A/V     545460******4300  VIA MOBILE...  -2945.51
243            THE QUEENSBERRY HOTEL BATH BA1 GBR 4300  -1292.10
..                                                 ...       ...
59   CECILIA WEDGWOOD  DIFFER            FP 07/02/2...    500.00
68   CHRISTOPHER WEDGWOSENT FROM MONZO   FP 22/06/2...    700.00
66   CHRISTOPHER WEDGWOSENT FROM MONZO   FP 03/01/2...   1200.00
65   CHRISTOPHER WEDGWOFP 05/08/21 1208  PN4R6J8B4S...   4000.00
99                                   FLAT 2  90 BANNER  60622.21

[264 rows x 2 columns]

In [524]:

df.loc[df.Description=='BP','Category'] == 'Car'
df.loc[df.Description=='BP',['Budget']] = 'Car'
df.loc[df.Description=="INT'L 0097585746 APPLE.COM/BILL 08001076285 "]
df.loc[df.Description.str.contains('The Moorfields')]

,Account,Date,Original Date,Description,Original Description,Amount,Currency,Category,Budget,year_month_day,year_month
1553,Emma Wedgwood and Christopher Brian Wedgwood,04/07/2021,04/07/2021,The Moorfields,The Moorfields,-45.0,GBP,,unbudgeted,2021-07-04,2021-07

In [421]:
 
df['year_month_day'] = pd.to_datetime(df['Date'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')
df['year_month'] = pd.to_datetime(df['Date'], format='%d/%m/%Y').dt.strftime('%Y-%m')

In [ ]:
Net_Worth_Table = df.groupby('year_month')['Amount'].sum().reset_index(name ='sum')
Net_Worth_Table['cumulative sum'] = Net_Worth_Table['sum'].cumsum()
Net_Worth_Chart = go.Figure(
    data = go.Scatter(x = Net_Worth_Table["year_month"], y = Net_Worth_Table["cumulative sum"]),
    layout = go.Layout(
        title = go.layout.Title(text = "Net Worth Over Time")
    )
)
Net_Worth_Chart.update_layout(
    xaxis_title = "Date",
    yaxis_title = "Net Worth (Â£)",
    hovermode = 'x unified'
    )
Net_Worth_Chart.update_xaxes(
    tickangle = 45)
Net_Worth_Chart.show()

In [ ]:
df.Category.unique()

In [ ]:
df_x = df[(df.Category != "MoneyFromChris") & (df.Category != "Money from Friends") & (df.Category != "Money From Emma") 
       & (df.Category != "Rental Income") ].copy() 
df_x['Amount'] = df.Amount*(-1) 
Total_Monthly_Expenses_Table = df_x.groupby('year_month')['Amount'].sum().reset_index(name = 'sum')
Total_Monthly_Expenses_Chart = px.bar(Total_Monthly_Expenses_Table, x = "year_month", y = "sum", title = "Total Monthly Expenses")
Total_Monthly_Expenses_Chart.update_yaxes(title = 'Expenses (Â£)', visible = True, showticklabels = True)
Total_Monthly_Expenses_Chart.update_xaxes(title = 'Date', visible = True, showticklabels = True)
Total_Monthly_Expenses_Chart.show()

In [ ]:
df.head()

In [ ]:
Expenses_Breakdown_Table = pd.pivot_table(df_x, values = ['Amount'], index = ['Category', 'year_month'], aggfunc=sum).reset_index()
Expenses_Breakdown_Table.columns = [x for x in Expenses_Breakdown_Table.columns]
Expenses_Breakdown_Chart = px.bar(Expenses_Breakdown_Table, x='year_month', y="Amount", title="Expenses Breakdown", color = 'Category')
Expenses_Breakdown_Chart.update_yaxes(title='Expenses (Â£)', visible=True, showticklabels=True)
Expenses_Breakdown_Chart.update_xaxes(title='Date', visible=True, showticklabels=True)
Expenses_Breakdown_Chart.show()

In [ ]:

df[df.Category == 'Car'].groupby('year_month').sum()

df[df.Category == 'Car']

In [ ]:

pd.set_option('display.max_rows', 10000)

In [ ]:
df_x.Category.unique()

In [ ]:
['Car', 'Council Tax', 'Household', 'Gifts','Groceries',
       'Postage', 'Utilities', 'Restaurant', 'Holiday',
       'Snackette', 'Bank Charges', 'Luxury', 'Clothing', 'Takeaway',
       'Health Care', 'Health&Fitness', 'Entertainment', 'Cash Out',
       'ALfie', 'Travel', 'Cosmetics', 'Tech',
       'Insurance', 'Therapy', 'Hair', 'Mortgage', 'Online Shopping', 'Credit Card', 'Stationary',
       'Unknown','Banner Street Expenses', 'Sport',
       'Emma Wedgwood Aesthetics Expense', 'HMRC and Tax', 'Union']

In [ ]:
import ipysheet



for category in df_x.Category.unique():
    print(category)

sheet = ipysheet.sheet(rows=3, columns=4)
cell1 = ipysheet.cell(0, 0, 'Hello')
cell2 = ipysheet.cell(2, 0, 'World')
cell_value = ipysheet.cell(2,2, 42.)

In [ ]:
sheet

In [ ]:
sh